<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>javaScript takrorlash</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
          <div class="card bg-dark text-white">
            <div class="card-header">
              <b>Add user</b>
            </div>
            <div class="card-body p-2">
              <div class="w-100">
                <label for="name">Name</label><br />
                <input class="w-100" id="name" type="text" />
              </div>
              <div class="w-100">
                <label for="name">Age</label><br />
                <input class="w-100" id="age" type="number" />
              </div>
              <div class="w-100">
                <label for="name">Locate</label><br />
                <input class="w-100" id="locate" type="text" />
              </div>
            </div>
            <div class="card-footer text-and">
              <button class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 text-center">
        <table class="table table-dark shadow">
          <thead class="thead">
            <tr>
              <th>img</th>
              <th>Name</th>
              <th>Age</th>
              <th>Locate</th>
            </tr>
          </thead>
          <tbody class="tbody myRow text-center">
            <tr>
              <td class="p-0">
                <img width="70px" height="70px" src="./media/user.jpg" alt="" />
              </td>
              <td class="mt-2">ismingiz: name</td>
              <td class="mt-2">yoshingiz: name</td>
              <td class="mt-2">manzilingiz: name</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="./main.js "></script>
  </body>
</html>
